<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="YouTube Automation Test Suite" parallel="false">

    <test name="YouTube Full System Tests">

        <classes>

            <!-- HomePage Feature Tests -->
            <class name="org.example.HomePage"/>

            <!-- Playlist Feature Tests -->
            <class name="org.example.Playlist"/>

            <!-- Comment Feature Tests -->
            <class name="org.example.Comment"/>

            <!-- MediaPlayer Feature Tests -->
            <class name="org.example.MediaPlayer"/>

            <!-- SearchAndFilter Feature Tests -->
            <class name="org.example.SearchAndFilter"/>

            <!-- Channel Feature Tests -->
            <class name="org.example.Channel"/>

            <!-- StudioDashboard Feature Tests -->
            <class name="org.example.StudioDashboard"/>

            <!-- Upload Feature Tests -->
            <class name="org.example.Upload"/>

        </classes>

    </test>

</suite>